
@model List<Example>




    
@* <table>
<tr>
     <td>Площадка</td> <td>Территория</td><td>Тип Контента</td><td>Вид Использования</td><td>Исполнитель</td> <td>UPC</td><td>ISRC</td><td>Трек</td>
    <td>Альбом</td><td>Копирайт</td><td>Количество загрузок и прослушиваний</td> <td>Вознаграждение,руб</td>
</tr>
@foreach (var item in Model)
{
    <tr>
    <td>
        @item.Площадка
    </td>
    <td>
        @item.Территория
    </td>
    <td>
        @item.ТипКонтента
    </td>
    <td>
        @item.ВидИспользованияКонтентаЗагрузкаСтриммингПодпискаРадио
    </td>
    <td>
        @item.Исполнитель
    </td>
    <td>
        @item.UpcАльбомаКодТрекаПоБазеЛицензиара
    </td>
    <td>
        @item.IsrcКонтента
    </td>
    <td>
        @item.НазваниеТрека
    </td>
    <td>
        @item.НазваниеАльбома
    </td>
     <td>
        @item.Копирайт
    </td>
     <td>
        @item.КоличествоЗагрузокПрослушиваний
    </td>
 <td>
        @item.ВознаграждениеВРубБезНдс
    </td>
</tr>
}


</table> *@