
@model List<Example>
<h2>
     Отчет по артисту @ViewData["Artist"]
</h2>
@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().RenderedAs((model, row) => row + 1).Titled("#").Css("text-center");
        columns.Add(model => model.НазваниеАльбома).Titled("Альбом");
        columns.Add(model => model.UpcАльбомаКодТрекаПоБазеЛицензиара).Titled("UPC");
        columns.Add(model => model.НазваниеТрека).Titled("Трек");
        columns.Add(model => model.Площадка).Titled("Площадка");
        columns.Add(model => model.КоличествоЗагрузокПрослушиваний).Titled("Загрузки/прослушивания");
        columns.Add(model => model.Территория).Titled("Территория");
        columns.Add(model => model.IsrcКонтента).Titled("ISRC");
        columns.Add(model => model.СуммаДенежныхСредствПолученныхЛицензиатом).Titled("Вознаграждение");       
    })
    .Empty("No data found")
    .Pageable()
    .UsingFooter("_GridFooter")
)



@* <table>
<tr>
     <td>Площадка</td> <td>Территория</td><td>Тип Контента</td><td>Вид Использования</td><td>Исполнитель</td> <td>UPC</td><td>ISRC</td><td>Трек</td>
    <td>Альбом</td><td>Копирайт</td><td>Количество загрузок и прослушиваний</td> <td>Вознаграждение,руб</td>
</tr>
@foreach (var item in Model)
{
    <tr>
    <td>
        @item.Площадка
    </td>
    <td>
        @item.Территория
    </td>
    <td>
        @item.ТипКонтента
    </td>
    <td>
        @item.ВидИспользованияКонтентаЗагрузкаСтриммингПодпискаРадио
    </td>
    <td>
        @item.Исполнитель
    </td>
    <td>
        @item.UpcАльбомаКодТрекаПоБазеЛицензиара
    </td>
    <td>
        @item.IsrcКонтента
    </td>
    <td>
        @item.НазваниеТрека
    </td>
    <td>
        @item.НазваниеАльбома
    </td>
     <td>
        @item.Копирайт
    </td>
     <td>
        @item.КоличествоЗагрузокПрослушиваний
    </td>
 <td>
        @item.ВознаграждениеВРубБезНдс
    </td>
</tr>
}


</table> *@